build/
# CTest scratch, written to the cwd if ctest is run outside build/
/Testing/
bin/
x64/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
todo.txt
# Ignore worktrees' IDE settings under this name
.idea/.idea.PGE*
